<ion-split-pane contentId="main">
  <ion-menu contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle autoHide="false">
      <ion-item routerLink="/first" routerDirection="root" routerLinkActive="active-link">
        <ion-label>
          First
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle autoHide="false">
      <ion-item routerLink="/second" routerDirection="root" routerLinkActive="active-link">
        <ion-label>
          second
        </ion-label>
      </ion-item>
    </ion-menu-toggle>
    </ion-content> 
  </ion-menu>

  <ion-router-outlet id="main">

  </ion-router-outlet>
</ion-split-pane>