* {
    margin: 0;
    padding: 0;
  }
  
  ion-toolbar {
    ion-title {
        padding-left: 5px;
    }
    #reset {
        margin: 10px;
        font-size: 36px;
    }
  }
  .error{
    ion-input, ion-select{
        border-color: red;
    }
    .placeholder{
        color: red;
    }
    ion-label{
        color:red;
        margin-left: 32px;
        font-size: 12px;
    }
  }
  .error{
    color: red;
    font-size: 13px;
    margin-left: 20px;
  }
  .profile {
    position: relative;
    height: 140px;
    margin-top: 50px;
    margin-bottom: 30px;
    .profile_img {
        border-radius: 50%;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 140px;
        height: 140px;
        border: 0.5px solid #f4a259;
    }
    .camera {
        position: absolute;
        width: 48px;
        height: 48px;
        display: flex;
        top: 90px;
        left: 88px;
        right: 0;
        margin: auto;
        justify-content: center;
        align-items: center;
        background: #00A64F;
        border-radius: 50px;
  
        ion-icon {
            font-size: 30px;
        }
    }
  }
  
  ion-input, ion-select {
    border: 1px solid rgba(44, 51, 72, 0.6);
    border-radius: 30px;
    position: relative;
    outline: none;
    --padding-start: 20px;
    padding: 20px;
    height: 48px;
  }
  
  .inputBox {
    position: relative;
    margin: 0px 16px 35px 16px;
  
    ion-icon {
        position: absolute;
        top: 10px;
        right: 19px;
        font-size: 23px;
    }
    textarea{
        padding: 10%;
    }
  }
  .inputBoxabt{
     width: 100%;
    border: 1px solid rgba(44, 51, 72, 0.6);
    border-radius: 30px;
  }
  
  #star {
    color: red;
    margin-left: 3px;
  
  }
  
  .placeholder {
    position: absolute;
    left: 23px;
    top: -18px;
    background-color: white;
    padding: 6px 6px;
    font-family: "AvertaStd-Regular";
    font-size: 12px;
    z-index: 10;
    line-height: 14px;
    letter-spacing: 0.02em;
  }
  
  .btn {
    --border-radius: 30px;
    height: 46px;
    width: -webkit-fill-available;
    margin: 16px;
  }